<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">

	<import resource="Customer.xml"/>
	<bean id="studentbean1" class="com.spring.Student">
		<constructor-arg value="Kuldeep"></constructor-arg>
		<constructor-arg value="174218"></constructor-arg>
		<constructor-arg ref="address"></constructor-arg>
		<constructor-arg>
			<list>
				<ref bean="course1" />
				<ref bean="course2" />
			</list>
		</constructor-arg>
		<property name="address" ref="address"></property>
		<property name="marks">
			<map>
				<entry key-ref="course1" value-ref="marks1"></entry>
				<entry key-ref="course2" value-ref="marks2"></entry>
			</map>
		</property>
	</bean>
	<bean id="studentbean2" class="com.spring.Student" parent="studentbean1">
		<!-- <constructor-arg> <list> <ref bean="course1"/> <ref bean="course2"/> 
			</list> </constructor-arg> -->
		<constructor-arg>
			<map>
				<entry key-ref="course1" value-ref="marks1"></entry>
				<entry key-ref="course2" value-ref="marks2"></entry>
			</map>
		</constructor-arg>
		<property name="marks">
			<map>
				<entry key-ref="course2" value-ref="marks2"></entry>
			</map>
		</property>
		<property name="address" ref="address2"></property>
	</bean>

	<bean id="address" class="com.spring.Address">
		<constructor-arg value="Mangalore"></constructor-arg>
		<constructor-arg value="Karnatka"></constructor-arg>
		<constructor-arg value="India"></constructor-arg>
		<!-- <property name="city" value="Mangalore"></property> <property name="state" 
			value="Karnatka"></property> <property name="country" value="India"></property> -->
	</bean>
	<bean id="address2" class="com.spring.Address">
		<constructor-arg value="Bathinda"></constructor-arg>
		<constructor-arg value="Punjab"></constructor-arg>
		<constructor-arg value="India"></constructor-arg>
		<!-- <property name="city" value="Mangalore"></property> <property name="state" 
			value="Karnatka"></property> <property name="country" value="India"></property> -->
	</bean>

	<bean id="course1" class="com.spring.Course">
		<property name="code" value="101"></property>
		<property name="name" value="Science"></property>
		<!-- <constructor-arg index="0" value="202"></constructor-arg> <constructor-arg 
			index="1" value="Science"></constructor-arg> -->
	</bean>
	<bean id="course2" class="com.spring.Course">
		<constructor-arg index="0" value="202"></constructor-arg>
		<constructor-arg index="1" value="Math"></constructor-arg>
	</bean>

	<bean id="marks1" class="com.spring.Marks">
		<property name="theoryMarks" value="55"></property>
		<property name="practicalMarks" value="35"></property>
	</bean>
	<bean id="marks2" class="com.spring.Marks">
		<property name="theoryMarks" value="48"></property>
		<property name="practicalMarks" value="27"></property>
	</bean>

	<!-- AOP Starts -->
	<bean id="beforeMethodAop" class="com.spring.aop.BeforeMethodAop"></bean>
	<bean id="afterReturnAop" class="com.spring.aop.AfterReturnAop"></bean>
	<bean id="afterThrowAop" class="com.spring.aop.AfterThrowAop"></bean>
	<bean id="aroundAop" class="com.spring.aop.AroundAop"></bean>
	
	<bean id="studentProxyBean" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="studentbean1"></property>
		<property name="interceptorNames">
			<list>
				<value>beforeMethodAop</value>
				<value>afterReturnAop</value>
				<value>afterThrowAop</value>
			</list>
		</property>
	</bean>
	
	<bean id="studentProxyBean2" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="studentbean2"></property>
		<property name="interceptorNames">
			<list>
				<value>aroundAop</value>
			</list>
		</property>
	</bean>
	
	<!--<bean id="studentBean1Pointcut" class="org.springframework.aop.support.NameMatchMethodPointcut">
		<property name="mappedName" value="showData"></property>
	</bean>
	 <bean id="studentBean1Advisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
		<property name="pointcut" ref="studentBean1Pointcut"></property>
		<property name="advice" ref="aroundAop"></property>
	</bean> -->
	
	<!-- MappedName Advisor Start -->
	<bean id="studentBean1Advisor" class="org.springframework.aop.support.NameMatchMethodPointcutAdvisor">
		<property name="mappedName" value="showException"></property>
		<property name="advice" ref="aroundAop"></property>
	</bean>

	<bean id="studentProxyBean3Advisor" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="studentbean2"></property>
		<property name="interceptorNames">
			<list>
				<value>studentBean1Advisor</value>
			</list>
		</property>
	</bean>
	<!-- MappedName Advisor End -->
	<!-- RegEx Advisor Start -->
	<bean id="regExAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
		<property name="patterns">
			<list>
				<value>.*showE.*</value>
				<value>.*showD.*</value>
			</list>
		</property>
		<property name="advice" ref="aroundAop"></property>
	</bean>
	<bean id="studentProxyBeanRegExAdvisor" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="studentbean2"></property>
		<property name="interceptorNames">
			<list>
				<value>regExAdvisor</value>
			</list>
		</property>
	</bean>
	<!-- RegEx Advisor End -->
	<!-- AOP Ends -->


</beans>  